*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: rgb(226, 224, 222);
}
li, a, button{
    font-weight: 500;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
/*header*/
header{
    display: flex;/*this put eveything in position flex (almost like display:inline-block */
    justify-content: space-between;/*this pushes items to each ends and puts space inbetween the ends */
    align-items: center;/*aligns items on the vertical axis to the center (up and down) */
    padding: 30px 5%;
}
.logo{
    cursor: pointer;
    transition: all 0.3s ease  0s;
}
.logo:hover{
    font-size: 35px;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block; /*this makes the li appear on one line*/
    padding: 0px 20px;/*top/down and left/right padding*/
}
.nav-links li a{
    transition: all 0.3s ease  0s;/*this gave it smooth transition into animation/ all animations to these anchors will have that transition timing including :hover*  so you dont need it in the :hover declartation*/
}
.nav-links li a:hover{
    color: rgb(123, 123, 250);
    font-size: 32px;/*Gives the "grow in size" animation*/
}
.cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease  0s;
}
.cta:hover{
    background-color: rgb(123, 123, 250);
    color: white;
    font-size: 30px;
}
/*card*/
.card{
    margin: 10% 5%;
    height: auto;
    width: auto;
    padding: 20px;
    border: 3px solid black;
    border-radius: 50px;
}
.card_content{
    display: flex;
}
.card_content .card_background img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.card_content .card_text{
    margin: 1% 2%;
}
.card_content .card_text .card_title {
    text-align: left;
}
.card_content .card_text .card_bio{
    text-align: left;
    font-size: 25px;
}
.card_content .card_text .card_paragraph{
    text-align: left;
    margin: 2%;
    font-size: 40px;
}
.card_badges ul{
    display: flex;
    justify-content: left;
}
.card_badges ul li{
    padding: 10px;
}
.card_badges ul li a{
    color: rgb(123, 123, 250);
    transition: all 0.3s ease  0s;
}
.card_badges ul li a:hover{
    color:rgb(255, 255, 255);
    font-size: 25px;
    text-shadow: 0px 0px 20px  rgb(123, 123, 250);
}







/*header*/

/*header*/

/*header*/