*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    background-color: rgb(226, 224, 222);
}
li, a, button{
    font-weight: 500;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
/*header*/
header{
    display: flex;/*this put eveything in position flex (almost like display:inline-block */
    justify-content: space-between;/*this pushes items to each ends and puts space inbetween the ends */
    align-items: center;/*aligns items on the vertical axis to the center (up and down) */
    padding: 30px 5%;
}
.header_logo{
    cursor: pointer;
    transition: all 0.3s ease  0s;
}
.header_logo:hover{
    font-size: 35px;
}
.navbar{
    list-style: none;
}
.navbar li{
    display: inline-block; /*this makes the li appear on one line*/
    padding: 0px 20px;/*top/down and left/right padding*/
}
.navbar li a{
    transition: all 0.3s ease  0s;/*this gave it smooth transition into animation/ all animations to these anchors will have that transition timing including :hover*  so you dont need it in the :hover declartation*/
}
.navbar li a:hover{
    color: rgb(123, 123, 250);
    font-size: 32px;/*Gives the "grow in size" animation*/
}
.cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease  0s;
}
.cta:hover{
    background-color:blueviolet; 
    color: white;
    font-size: 30px;
}
/*header*/









/*header*/

/*header*/

/*header*/