html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    outline: none;/*give everything an outline on the outside of border*/
    text-decoration: none;
    border: none;
    list-style: none;
    box-sizing: border-box;
}
img{
    width: 100%;
    display: flex;
}
a{
    text-decoration: none; 
}
body{
    background-color: rgb(226, 224, 222);
}
nav{
    /* max-width: 1200px; */
    margin: auto;
    padding: 2rem 1rem;
    display: flex;/*this put eveything in position flex (almost like display:inline-block */
    justify-content: space-between;/*this pushes items to each ends and puts space inbetween the ends */
    align-items: center;/*aligns items on the vertical axis to the center (up and down) */
    gap: 2rem;
    position: sticky;
    top: 0;
    background-color: #deebee;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1)
}
.nav-logo{
    max-width: auto;
    margin-left: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 1.5em;
    transition: all 0.3s ease 0s;
}
.nav-logo:hover{
    font-size: 30px;
    color: #5e3bee;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.link a{ 
    position: relative;
    padding-bottom: 0.75rem;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    transition: all 0.3s ease  0s;/*this gave it smooth transition into animation/ all animations to these anchors will have that transition timing including :hover*  so you dont need it in the :hover declartation*/
}
.link a:hover{
    color: #5e3bee;
    font-size: 32px;/*Gives the "grow in size" animation*/
}
nav .btn{
    font-size: 1.5em;
    margin-right: 50px;
    padding: 12px 16px;
    background-color: #5e3bee;
    color: white;font-weight: bold;
    text-decoration: none;
    border-radius: 100px;
    transition: all 0.3s ease  0s;
    border: 3px solid #5e3bee;
    font-weight: bold;
    cursor: pointer;
}
nav .btn:hover{
    color: #000000;
    background-color: transparent;
    border: 3px solid #000000;
}
nav button#menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}
/*main*/
.main{
    background-color: #deebee;
    padding: 90px 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.main .left{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.main .left h3{
    margin-top: 10px;
    font-weight: bold;
    font-size: 46px;
}
.main .left h3 span{
    color: #5e3bee;
}
.main .left p{
    color: #1c1e53;
    font-size: 22px;
    margin-top: 20px;
}
.main .left button{
    margin-top: 40px;
    font-size: 1.3rem;
    color: #fff;
    transition: all 0.3s ease  0s;
    cursor: pointer;
    background-color: #5e3bee;
    padding: 14px 24px;
    font-weight: bold;
    border: 3px solid #5e3bee;
    border-radius: 5px;
}
.main .left button:hover{
    color:black;
   
    background-color: transparent;
    border: 3px solid #000000;
}
.main .right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .right .main-picture{
    width: 500px;
    border-radius: 50%;
}
.card_badges ul{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.card_badges ul li img{
    display: flex;
    max-width: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}







/*header*/

/*header*/

/*header*/